.all-servers-list {
    position: fixed;
    top: 0;
    left: 80px;
    bottom: 0;
    width: 100%;
     height: 100%;
    padding: 10px;
    overflow-y: auto;
    background-color: #313338;
    }

    .all-server-card-display {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 40px;
      padding: 10px;

      width: 90%;
    }
.all-servers-list h1 {
  color: white;
  margin: 40px;
}
