.all-servers-list {
    position: fixed;
    top: 0;
    left: 80px;
    bottom: 0;
    width: 100%;
     height: 100%;
    padding: 10px;
    overflow-y: auto;
    justify-content: center;
    background-color: #313338;
    }

    .all-servers-container{
      display: flex;
  align-items: center;
  justify-content: center;
    }

    .all-server-card-display {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 60px;
      padding: 10px;
      width: 80%;
    }
    
    .all-server-card-display .server-card {
      flex: 0 0 
    }
.all-servers-list h1 {
  color: white;
  margin: 40px;
}
