

.create-channel-main h1 {
    display: flex;
    color: #101010;
    justify-content: center;
    margin-top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.create-channel-container label{
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin-bottom: 5px;
}

.create-channel-container input{
    width: 70%;
    padding: 10px;
    margin-left: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: #bebebe;
    color: black;
    border: 1px solid #858585;
    outline: none;

}


.channel-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.channel-button-container button {
    margin-top: 2px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #7289da;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.channel-button-container button:hover {
    background-color: #677bc4;
}
