.login-image{
  max-width: 120%;
  height: auto;
  background-image: url('discord-login.jpg');
  background-size: cover;
  position: relative;
  float: left;
}


.login-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 72%;
  height: 50%;
}

.login-text-container{
  color: #1c1d20;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: xx-large;
}

.login-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f3237;
  padding: 2em;
  border-radius: 0.5em;
}

.login-form-container h3{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 1px;

}

.login-form-container ul{
  color:red
}

.login-form-container p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: rgb(153, 153, 153);
  padding-top: 1px;
}

.login-form-container label {
  position: relative;
  color: rgb(176, 175, 175);
  font-weight: bold;
  margin-bottom: 0.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.login-form-container input[type="text"],
.login-form-container input[type="password"] {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.2em;
  border: none;
  background-color: #1c1d20;
  color: white;

}

.login-form-container input:focus{
    outline: none;
}

.login-form-container span{
  position: absolute;
  right: 100%;
  margin-top: 20px;
  transform: translateY(-50%);
  margin-right: 10px;
  font-size: 12px;

}

.login-form-container span::after{
  content: '*';
  color: red;
  margin-left: 5px;
  font-size: 14px;
}



.submit-login-button {
  width: 50%;
  padding: 0.5em;
  border: none;
  border-radius: 0.2em;
  background-color: #677bc4;
  color: white;
  font-weight:lighter;
  margin-bottom: 1em;
  transition: all 0.3s ease;

}

.submit-login-button:hover{
  background-color: #4261d0;

}


.button-Demo{
 width: 50%;
 padding: 0.5em;
 border: none;
 border-radius: 0.2em;
 background-color: #677bc4;
 color: white;
 font-weight: lighter;
 margin-bottom: 1em;
 transition: all 0.3s ease;
}

.button-Demo:hover {
  background-color: #4261d0;
}


/* .signup-location{
    position: absolute;
    width: 100vw;
    height: 80vh;
    display: grid;
    place-items: center;
  }

.signup-container{
    width: 790px;
    max-width: 90vw;
    padding: 32px;
    background-color: #2a2b38;
    background: #363940;
    border-radius: 6px;
    left: 0;
    top: 0;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    flex-grow: 1;
    display: grid;
    place-items: center;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
  }

  .signup-wrapper{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
  }

.signup-framing{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #363940;
  }

.signup-header{
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 8px;
    background: #363940;
  }

  .signup-input{
    color: #919296;
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    cursor: default;
    background: #363940;
  }

  .signup-input-name{
    background: #363940;
  }

  .signup-btn{
    text-decoration: none;
    border-radius: 4px;
    height: 44px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    transition: all 200ms linear;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    outline: none;
    background-color: #7289d9;
    color: white;
    cursor: pointer;
  }

  .signup-btn:hover{
    background-color: #677bc4;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
  } */
