.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.servers-bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #5A5A5A;
  padding: 0;
  margin: 0;
}