

/* .create-server-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

.create-server-modal-content h2 {
  margin-top: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.create-server-modal-content p {
  font-size: 15px;
  color: rgb(110, 110, 110);
  padding-top: 1px;
  font-size: small;
}

.create-server-modal-content {
  background-color: #36393f;
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.input-container {
  margin-bottom: 20px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #202225;
  color: white;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #7289da;
  color: white;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #677bc4;
}
