.message-content {
    display: flex;
    margin: 4px 0;
    align-items: flex-start;
    list-style: none;
  }
  
  .message-content li {
    margin: 0;
    padding: 7px;

    color: #DDDEE2;
    border-radius: 8px;
    font-family: "Uni Sans";
    font-size: 15px;
    line-height: 1.5;
  }

.message-username{
  color: #50D282;
}
.message-time-stamp {
  color: #82838B;
  font-size: 12px;
}
