.signup-image{
  width: 120%;
  height: auto;
  background-image: url('signup-image.jpg');
  background-size: cover;
  position: relative;
  float: left;
}


.signup-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 72%;
  height: 50%;
}

.signup-text-container{
  color: #1c1d20;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: xx-large;
}

.signup-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f3237;
  padding: 2em;
  border-radius: 0.5em;
}

.signup-form-container h3{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 1px;

}

.signup-form-container p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: rgb(153, 153, 153);
  padding-top: 1px;
}

.signup-form-container label {
  position: relative;
  color: rgb(176, 175, 175);
  font-weight: bold;
  margin-bottom: 0.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.signup-form-container input[type="email"],
.signup-form-container input[type="text"],
.signup-form-container input[type="password"] {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.2em;
  border: none;
  background-color: #1c1d20;
  color: white;

}

.signup-form-container ul{
  color:red
}

.signup-input{
  width: 225px;
}

.signup-form-container input:focus{
    outline: none;
}

.signup-form-container span{
  position: absolute;
  right: 100%;
  margin-top: 20px;
  transform: translateY(-50%);
  margin-right: 10px;
  font-size: 12px;

}

.signup-form-container span::after{
  content: '*';
  color: red;
  margin-left: 5px;
  font-size: 14px;
}



.submit-signup-button {
  width: 50%;
  padding: 0.5em;
  border: none;
  border-radius: 0.2em;
  background-color: #677bc4;
  color: white;
  font-weight:lighter;
  margin-bottom: 1em;
  transition: all 0.3s ease;

}

.submit-signup-button:hover{
  background-color: #4261d0;

}


.button-Demo{
 width: 50%;
 padding: 0.5em;
 border: none;
 border-radius: 0.2em;
 background-color: #677bc4;
 color: white;
 font-weight: lighter;
 margin-bottom: 1em;
 transition: all 0.3s ease;
}

.button-Demo:hover {
  background-color: #4261d0;
}
