.channel-card {
  font-family: "Uni Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: #989AA2;
  text-decoration: none;
}

.channel-card:hover {
  color: rgb(243,244,245);
}

.channel-card li {
  list-style: none;
  margin: 0;
  padding:0;

}

.channel-line {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding-bottom:7px;
}

.channel-line-tools {
  display: flex;
  align-items: center;
}

.channel-delete-icon {
  display:flex;

}

.channel-line li {
  text-overflow: ellipsis;
  overflow: hidden;
}

.channel-card-edit img {
width: 20px;
height: 20px;
transition: transform .2s;
overflow: hidden;
border-radius: 50%; /* Add initial border-radius */
}

.channel-card-edit img:hover {
transform: scale(1.8)
}

.active-channel {
  color:white;
  font-weight: bold;
}

.channel-edit-btn{
  padding: 5px;
}

.channel-edit-btn:hover{
  padding: 5px;
}
