.channels-container {
    position: fixed;
  top: 0;
  left: 90px;
  bottom: 0;
    width: 250px;
    height: 100%;
    background-color: #c8e1ff;
    padding: 10px;
    margin-left: 10px;
  }
  
  .channels-container h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  /* .channels-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
  } */
  
  .channels-container li {
    margin-bottom: 5px;
  }